.mainContainer {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background-color: white;
}

.right {
  flex: 1;
  background-color: lightblue;
  padding: 20px;
}

.rightTextContainer {
  background-color: grey;
}
